<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<div id="root">
    <h1>{{ reverseMessage }}</h1>
    <ul>
        <li v-for="task in tasks" v-if="task.completed" v-text="task.description"></li>
    </ul>
</div>

<script src="https://unpkg.com/vue@2.2.4"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#root',
        data: {
            message: 'Hello World',
            tasks: [
                { description: 'go to the store', completed: true },
                { description: 'finish screencast', completed: false },
                { description: 'make donation', completed: false },
                { description: 'clear inbox', completed: false },
                { description: 'make dinner', completed: false },
                { description: 'clean room', completed: true },
            ]
        },
        computed: {
            reverseMessage: function() {
                return this.message.split('').reverse().join('');
            }
        }
    });
</script>
</body>
</html>
